@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background: #c6E5b1;

    display: flex;
    align-items: center;
    flex-direction: column;

}
.titulo{
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: azure;
}

form {
    margin: 100px 0;

    display: flex;
    align-items: center;
}

input {
    width: 170px;
    padding: 10px;

    font-family: 'Nunito', sans-serif;

    text-align: center;
    
    border-radius: 10px;
    border-color: antiquewhite;
    border-style: none;

}

button {
    display: flex;
    align-items: center;
}

.lupa {
    height: 50px;
    cursor: pointer;

}

.box-empresas {
    display: flex;

    align-items: center;
    flex-direction: column;

}